.App, body, html{
  margin: 0;
  padding: 0;
  background-color: rgb(42, 46,67);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header-logo {
  display: flex;
  justify-content: center;
}

.logo {
  width: 10rem;
}

.to-do-container {
  width: 33%;

  display: flex;
  justify-content: center;
}

.input-section {
  display: flex;
  justify-content: center;
}

.to-do-input {
  background-color: transparent;
  color: white;
  outline: none;
  border: none;
  border-bottom: 2px solid rgb(243, 88, 60);
  
  font-size: 1.5rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: lighter;
  
  width: 100%;
}

.to-do-input::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.tasks-checklist {
  display: flex;
  justify-content: center;
  
}

.task-item{
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: solid 0.02px rgba(17, 140, 182, 0.2);
}

.task-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  
  margin-left: 0;
  padding: 0;
  width: 33%;
}

.task-text {
  color: white;
}

.task-completed-button {
  background-color: transparent;
  border-color: transparent;
  color: rgb(17, 140, 182);

  outline: none;

  font-size: 1rem;
}

@media (max-width: 1024px) {
  .to-do-container {
    width: 66%;
  }

  .task-list {
    width: 66%;
  }
}